.ima-logo{
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10%;
}
.txt_banner{
    font-size: 22px;
    background-color: #00420c;
    color: white;
    padding-left: 5%;
}

.box-admin{
    padding-top: 5%;
}